{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">ABOUT US..</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to Shop On Trends Website</p>
        </div>
    </div>
</header>
<div class ="container">
<div class="row">
    <center>
        <div class ="col-8">
            <p align="justify">
            </br></br>
                We're passionate about bringing you the best products/services that cater to your needs., our journey began 
                with a simple goal: to provide high-quality productd at affordable prices while ensuring an excellent shopping experience.
            </br>
            <strong>Our Mission </strong>
            </br>
            Our mission is to empower individuals through stylish and functional products,
            provide eco-friendly solutions that enhance your lifestyle.We believe that everyone deserves access to many premium products and cost effective.
        </br>
        <strong>What We Offer </strong>
        </br>
        We specialize in a wide array of eco-friendly home goods, trendy apparel, and unique gifts for your loved ones.
        Our team carefully curates each item in our collection, ensuring you receive only the best. Whether you're shopping for yourself or looking for the perfect gift, we've got something for everyone.
    </br>
            <strong> Why Choose Us?</strong>
</br>
                Quality Assurance: We take pride in sourcing and delivering only the highest quality products. Each item is thoroughly vetted to meet our strict standards.
</br>Customer-Centric: Your satisfaction is our top priority. Our knowledgeable customer service team is here to assist you with any questions or concerns.
</br>Ethical Practices: We are committed to  fair and affordable trends and trade the same. Shopping with us means supporting a brand that cares about the planet and its people.
</br>Fast Shipping and Simple Returns: Enjoy quick and reliable shipping, along with a hassle-free return policy that ensures you can shop with confidence.
</br>
                <strong>Join Our Community </strong>
                </br>
                We believe that shopping is not just about purchasing; it's about connecting. Follow us on our social media platforms to stay updated on the latest arrivals, promotions, and exclusive content. 
                Share your experience with us by tagging @shop_on_trends in your photos!
                </br>
                <strong>Get In Touch</strong>
            </br>
                We love hearing from our customers! If you have any questions, feedback, or just want to say hello, feel free to reach out to us at <strong>shopontrendscustomer@gmail.com </strong>
        </br>Thank you for choosing ShopOnTrends. We look forward to being a part of your shopping experience!
                </br>
            </br>
                <strong>&#x2764; &#x2764; Happy Shopping! &#x2764; &#x2764;</strong>    
                </p>                
        </div>
    </center>
</div>
</div>

{% endblock %}